@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

.page {
	&-main {
		padding-top: 0;
	}
}
.wrap {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	max-width: 1481px;
	margin-left: 53px;
	margin-right: 65px;
	&__logo {
		height: 56px;
		width: 161px;
	}
}
.menu-list {
	display: flex;
	&__item {
		list-style-type: none;
		text-decoration: none;
	}
}
