@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

$title-color: #333332;
$title-dark-color: #494949;
$text-color: #040404;
$gray-bg-color: #f4f4f4;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.page {
	color: $text-color;
	font-family: "Lato";
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.45px;
	&-main {
		background-image: url(../img/main/main-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding-top: 0;
		padding-bottom: 247px;
	}
	&-agency {
		padding-top: 394px;
	}
	&-features {
		padding-bottom: 74px;
	}
	&-services {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}
	&-social {
		background-image: url(../img/social/social-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding-top: 80px;
		padding-bottom: 94px;
	}
	&-team {
		padding-top: 100px;
		padding-bottom: 67px;
	}
	&-profile {
		display: flex;
		overflow: hidden;
		padding-top: 64px;
		padding-bottom: 128px;
	}
	&-footer {
		padding-top: 102px;
		padding-bottom: 38px;
	}
	&-btn {
		color: #fff;
		display: block;
		width: 143px;
		font-family: Lato;
		font-size: 15.5px;
		font-weight: 700;
		letter-spacing: 0.39px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 25px;
		background-image: linear-gradient(to top, #de813c, #3f519a);
	}
	&-title {
		color: $title-color;
		font-family: "Bernadette";
		font-weight: normal;
		font-size: 50px;
		line-height: 65px;
		text-align: left;
	}
	&-descr {
		color: $text-color;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: 0.45px;
	}
}
.wrap {
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	&-relative {
		position: relative;
	}
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1481px;
	margin-left: 53px;
	margin-right: 65px;
	padding-top: 25px;
	&__logo {
		height: 56px;
		width: 161px;
	}
}
.menu-list {
	display: flex;
	&__item {
		list-style-type: none;
		margin-left: 33px;
	}
	&__link {
		color: #fff;
		font-family: "Lato";
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.38px;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.main {
	position: relative;
	&__header {
		margin-bottom: 135px;
	}
	&-center {
		color: #fff;
		&__title {
			font-family: Bernadette;
			font-size: 111px;
			line-height: 149px;
			font-weight: 400;
			letter-spacing: -5.55px;
			text-align: center;
			margin-top: 0;
			margin-bottom: 18px;
		}
		&__subtitle {
			font-family: Lato;
			font-size: 37px;
			font-weight: 700;
			letter-spacing: 0.93px;
			text-align: center;
			margin-bottom: 41px;
		}
		&__desc {
			display: block;
			max-width: 700px;
			margin: 0 auto;
			font-family: Lato;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.4px;
			text-align: center;
			margin-bottom: 41px;
		}
		&__btn {
			display: block;
			color: #020202;
			font-family: Lato;
			font-size: 15.5px;
			font-weight: 700;
			letter-spacing: 0.39px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			background-color: #fff;
			max-width: 143px;
			padding-top: 13px;
			padding-bottom: 14px;
			border-radius: 25px;
			margin: 0 auto;
		}
	}
	&__benefits {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: top;
		margin-top: 88px;
	}
	&-benefits {
		&__item {
			width: 372px;
			margin: 0 13.5px;
			border-radius: 10px;
			position: relative;
			padding-bottom: 44px;
			-webkit-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
			box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
		}
		&__image {
			width: 372px;
			height: 207px;
			margin-bottom: 27px;
			img {
				border-radius: 10px 10px 0 0;
				width: 100%;
				height: 207px;
				object-fit: cover;
			}
		}
		&__title {
			color: #333;
			font-family: Lato;
			font-size: 25px;
			// font-weight: 500;
			font-weight: 700;
			letter-spacing: 0.63px;
			text-align: center;
			margin-bottom: 27px;
		}
		&__desc {
			color: #040404;
			display: block;
			margin: 0 auto;
			max-width: 250px;
			font-family: Lato;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.4px;
			text-align: center;
		}
		&__btn {
			position: absolute;
			bottom: -24px;
			left: 117px;
		}
	}
}
.agency {
	position: relative;
	padding-bottom: 215px;
	&-items {
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: top;
	}
	&-item {
		max-width: 386px;
		&__title {
			margin-bottom: 29px;
			letter-spacing: -3.75px;
			//width: 305px;
			margin-left: 10px;
			margin-top: 5px;
			line-height: 62px;
		}
		&__intro {
			font-weight: 400;
		}
		&__descr {
			font-weight: 300;
		}
		&__quote {
			font-style: italic;
		}
		&__sign {
			font-size: 47px;
			margin-left: 57px;
			margin-top: 29px;
			letter-spacing: -3.53px;
		}
		&__btn {
			margin-top: 40px;
			margin-left: 6px;
		}
		&--quote {
			position: relative;
			padding-top: 72px;
			&::before {
				content: url("../img/agency/quote.png");
				width: 83px;
				height: 88px;
				position: absolute;
				top: 31px;
				left: -102px;
			}
		}
	}
	&-letter {
		position: relative;
		height: 518px;
		width: 465px;
		&__letter {
			width: 100%;
			height: 100%;
			&-svg {
				font-family: "Belgrad";
				font-size: 400px;
			}
		}
		// &__letter {
		// color: transparent;
		// font-size: 550px;
		// line-height: 450px;
		// font-family: "Belgrad";
		// background-image: url(../img/agency/agency.jpg);
		// background-size: cover;
		// background-clip: text;
		// transform: translateX(20%);
		// left: -67px;
		// position: relative;
		// text-align: right;
		//--------------------
		// height: 100%;
		// width: 100%;
		// background-image: url(../img/agency/agency.png);
		// box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
		// }
	}
	&__letter {
		position: absolute;
		top: 377px;
		left: 573px;
		width: 464px;
		height: 583px;
		z-index: -5;
		// font-family: "Belgrad";
		// font-size: 600px;
		// text-transform: uppercase;
		// transition: 1s font-size;
		// &-svg {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 48px;
		// 	rect {
		// 		fill: #fff;
		// 		mask: url(#letter-mask);
		// 	}
		// }
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
		}
	}
}
.features {
	&-items {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
		justify-content: space-between;
		align-items: center;
		gap: 23px 28px;
	}
	&-item {
		width: 571px;
		height: 365px;
		&__img {
			//TODO Заменить на подогнанные в макете фото
			width: 100%;
			height: 100%;
			object-fit: cover;
			// background-repeat: no-repeat;
			&--left {
				border-radius: 10px 0 0 10px;
			}
			&--right {
				border-radius: 0 10px 10px 0;
			}
		}
	}
	&-descr {
		position: absolute;
		width: 727px;
		height: 368px;
		border-radius: 10px;
		z-index: 5;
		top: 202px;
		left: 218px;
		padding-top: 32px;
		padding-bottom: 33px;
		padding-left: 52px;
		padding-right: 25px;
		background-color: #fff;
		text-align: center;
		&__title {
			text-align: center;
			margin-bottom: 17px;
		}
		&__descr {
			margin-bottom: 41px;
		}
		&__btn {
			margin-left: 255px;
			margin-top: 31px;
		}
	}
}
.services {
	&__content {
		background-color: $gray-bg-color;
		flex: 0 0 100%;
		display: flex;
		align-items: center;
	}
	&__image {
		position: relative;
		// flex: 0 0 30%;
		flex: 0 0 calc(((100vw - 40px) * 0.3) + 20px);
		transform: translate(-100%, 0px);
		&-img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: -5;
		}
		//? Примерно 0.6 - 0.4
		@media (min-width: 1210px) {
			flex: 0 0 calc(50vw - (0.6 - 0.4) * 1170px);
		}
	}
	&-visual {
		position: absolute;
		color: #fff;
		width: 355px;
		height: 473px;
		padding: 25px 28px;
		border-radius: 10px;
		top: 90px;
		left: -154px;
		background-image: linear-gradient(to bottom right, #de813c, #3f519a);
		&__items {
			display: grid;
			grid-template: 1fr 1fr / 1fr 1fr;
			grid-gap: 3px;
			justify-content: space-between;
			align-items: flex-start;
			//-------
			// background-size: 6px 170px;
			//background-image: radial-gradient(circle, rgba(255, 255, 255, 0.29) 2px, rgba(0, 0, 0, 0) 1px);
			// background-image: radial-gradient(hsla(209, 100%, 47%, 1) 5%, transparent 0);
			// background-image: radial-gradient(circle, rgba(255, 255, 255, 0.29) 2px, transparent 0px);
			// background-size: 6px 6px;
			//--------------------
			// background-image: radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0);
			// background-size: 8px 145px;
			// background-position: 50px 71px;
			//-------------------
			background: radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0),
				radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0);
			background-size: 8px 152px, 200px 8px;
			background-position: 50px 71px;
		}
		&__item {
			// width: 157px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// padding-top: 22px;
			// padding-bottom: 25px;
			height: 142px;
			// margin-left: -1.5px;
			// margin-right: -1.5px;
			// &--top {
			// 	border-bottom: 3px dotted rgba(255, 255, 255, 0.29);
			// }
			// &--middle {
			// 	border-bottom: 3px dotted rgba(255, 255, 255, 0.29);
			// }
			// &--left {
			// 	border-right: 3px dotted rgba(255, 255, 255, 0.29);
			// }
			&--top {
				padding-top: 22px;
				padding-bottom: 18px;
			}
			&--middle {
				padding-top: 25px;
				padding-bottom: 8px;
			}
			&--bottom {
				padding-top: 30px;
				padding-bottom: 15px;
			}
			&-icon {
				margin: 0 auto;
				margin-bottom: 12px;
				&-obj {
					width: 100%;
					height: 100%;
				}
				&--logo-branding {
					width: 40px;
					height: 46px;
				}
				&--social-media {
					width: 46px;
					height: 45px;
				}
				&--products {
					width: 49px;
					height: 54px;
				}
				&--lorei {
					width: 36px;
					height: 35px;
				}
				&--mobile-web {
					width: 36px;
					height: 42px;
				}
			}
			&-descr {
				display: block;
				width: 105px;
				margin: 0 auto;
				font-size: 17px;
				line-height: normal;
				font-weight: 800;
				letter-spacing: 0.43px;
				text-align: center;
			}
		}
	}
	&-text {
		width: 50%;
		padding-top: 86px;
		padding-bottom: 90px;
		&__title {
			margin-bottom: 41px;
		}
		&__intro {
			font-weight: 400;
		}
		&__descr {
			font-weight: 300;
			margin-bottom: 48px;
		}
	}
}
.team {
	position: relative;
	&__title {
		text-align: center;
		margin-bottom: 46px;
	}
	&__descr {
		color: #313131;
		text-align: center;
		margin-bottom: 71px;
	}
	&-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__item {
			&-image {
				width: 218px;
				height: 273px;
				margin-bottom: 46px;
				&-img {
					width: 100%;
					height: 100%;
					border-radius: 7px;
					object-fit: cover;
				}
			}
			&-title {
				color: $title-color;
				font-size: 25px;
				font-weight: 500;
				letter-spacing: 0.63px;
				text-align: center;
			}
			&-post {
				color: #a3a3a3;
				font-size: 20px;
				font-weight: 300;
				letter-spacing: 0.5px;
				text-align: center;
			}
		}
	}
	&::after {
		content: "";
		position: absolute;
		width: 1296px;
		height: 317px;
		background-color: $gray-bg-color;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		z-index: -10;
	}
}
.profile {
	&-data {
		flex: 0 0 100%;
		&__content {
			width: 50%;
			padding-right: 54px;
		}
	}
	&-text {
		padding-top: 47px;
		padding-bottom: 34px;
	}
	&-skils {
		padding-bottom: 34px;
		&-item {
			margin-bottom: 45px;
			&__title {
				color: $title-color;
				font-size: 25px;
				font-weight: 500;
				letter-spacing: 0.63px;
				margin-bottom: 11px;
			}
			&__diagram {
				position: relative;
				&-count {
					color: #333332;
					font-size: 25px;
					font-weight: 900;
					letter-spacing: 0.63px;
					position: absolute;
					right: 47px;
					top: -16px;
				}
				&-line {
					&--color {
						height: 14px;
						width: 400px;
						border-radius: 7px;
						background-image: linear-gradient(to right, #de813c, #3f519a);
					}
					&--gray {
						height: 14px;
						width: 483px;
						border-radius: 7px;
						background-color: #e0e0e0;
					}
				}
			}
		}
	}
	&__title {
		font-size: 65px;
		margin-left: 12px;
		margin-bottom: 16px;
	}
	&__post {
		color: #505050;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 0.55px;
		margin-bottom: 32px;
	}
	&__descr {
		text-align: left;
		margin-bottom: 71px;
	}
	&-visual {
		display: flex;
		flex: 0 0 calc(((100vw - 40px) * 0.5) + 20px);
		transform: translate(-100%, 0px);
		@media (min-width: 1210px) {
			flex: 0 0 calc(50vw - (0.5 - 0.5) * 1170px);
		}
		&__image {
			// position: relative;
			&-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__info {
			color: #fff;
			padding: 62px 52px 65px 49px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-image: linear-gradient(to bottom right, #de813c, #3f519a);
			&-title {
				font-size: 21px;
				font-weight: 500;
				letter-spacing: 0.53px;
			}
			&-desc {
				font-weight: 300;
				max-width: 350px;
			}
		}
		&__social {
			&-list {
				display: flex;
			}
			&-item {
				list-style-type: none;
				margin-right: 20px;
			}
			&-link {
				display: block;
				color: #272525;
				font-size: 38px;
				line-height: 60px;
				width: 60px;
				height: 60px;
				border-radius: 100%;
				background-color: #fff;
				text-align: center;
			}
		}
	}
}
.social {
	&__title {
		color: #fff;
		text-align: center;
		// margin-left: 663px;
		margin-bottom: 65px;
	}
	&-list {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		&__item {
			display: block;
			margin-left: 20px;
			margin-right: 20px;
			height: 82px;
			width: 82px;
			// border: 3px solid #fff;
			// border-radius: 100%;
			// text-align: center;
			// &--facebook {
			// 	padding: 24px 32px 23px 31px;
			// }
			// &--google-plus {
			// 	padding: 26px 16px 25px 19px;
			// }
			// &--vk {
			// 	padding: 33px 22px 26px 21px;
			// }
			// &--youtube {
			// 	padding: 23px 26px 22px 25px;
			// }
			// &--linkedin {
			// 	padding: 25px 25px 26px 25px;
			// }
			// &--digg {
			// 	padding: 29px 22px 27px 17px;
			// }
			// &--deviantart {
			// 	padding: 24px 32px 23px 29px;
			// }
			&-link {
				// color: #fff;
				// font-size: 36.5px;
				// line-height: 82px;
				text-decoration: none;
				&-svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.footer {
	&-items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 79px;
	}
	&-item {
		display: flex;
		align-items: flex-start;
		// margin-right: 155px;
		&__icon {
			&-img {
				width: 100%;
				height: 100%;
			}
			&--email {
				width: 54px;
				height: 42px;
			}
			&--call {
				width: 36px;
				height: 54px;
			}
			&--address {
				width: 52px;
				height: 54px;
			}
		}
		&__text {
			margin-left: 28px;
			&-title {
				color: $title-dark-color;
				font-size: 17px;
				font-weight: 700;
				line-height: 16px;
				letter-spacing: 0.43px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			&-link,
			&-address {
				display: block;
				color: $title-dark-color;
				font-size: 16px;
				line-height: 1.5;
				letter-spacing: 0.4px;
				text-decoration: none;
			}
		}
	}
	&-by-designed {
		text-align: center;
		&-text {
			color: #2f2f2f;
			font-size: 17px;
			line-height: 1.41;
			letter-spacing: 0.43px;
		}
	}
}
