@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

$tittle-color: #333332;
$text-color: #040404;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.page {
	color: $text-color;
	font-family: "Lato";
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.45px;
	&-main {
		background-image: url(../img/main/main-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding-top: 0;
		padding-bottom: 247px;
	}
	&-agency {
		padding-top: 394px;
	}
	&-btn {
		color: #fff;
		position: absolute;
		display: block;
		width: 143px;
		font-family: Lato;
		font-size: 15.5px;
		font-weight: 700;
		letter-spacing: 0.39px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 25px;
		// margin: 0 auto;
		background-image: linear-gradient(to top, #de813c, #3f519a);
	}
	&-title {
		color: $tittle-color;
		font-family: "Bernadette";
		font-weight: normal;
		font-size: 50px;
		line-height: 65px;
		text-align: left;
	}
}
.wrap {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1481px;
	margin-left: 53px;
	margin-right: 65px;
	padding-top: 25px;
	&__logo {
		height: 56px;
		width: 161px;
	}
}
.menu-list {
	display: flex;
	&__item {
		list-style-type: none;
		margin-left: 33px;
	}
	&__link {
		color: #fff;
		font-family: "Lato";
		font-size: 15px;
		font-weight: 700;
		letter-spacing: 0.38px;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.main {
	position: relative;
	&__header {
		margin-bottom: 135px;
	}
	&-center {
		color: #fff;
		&__title {
			font-family: Bernadette;
			font-size: 111px;
			font-weight: 400;
			letter-spacing: -5.55px;
			text-align: center;
			margin-top: 0;
			margin-bottom: 30px;
		}
		&__subtitle {
			font-family: Lato;
			font-size: 37px;
			font-weight: 700;
			letter-spacing: 0.93px;
			text-align: center;
			margin-bottom: 41px;
		}
		&__desc {
			display: block;
			max-width: 700px;
			margin: 0 auto;
			font-family: Lato;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.4px;
			text-align: center;
			margin-bottom: 41px;
		}
		&__btn {
			display: block;
			color: #020202;
			font-family: Lato;
			font-size: 15.5px;
			font-weight: 700;
			letter-spacing: 0.39px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			background-color: #fff;
			max-width: 143px;
			padding-top: 13px;
			padding-bottom: 14px;
			border-radius: 25px;
			margin: 0 auto;
		}
	}
	&__benefits {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: top;
		margin-top: 88px;
	}
	&-benefits {
		&__item {
			width: 372px;
			margin: 0 13.5px;
			border-radius: 10px;
			position: relative;
			padding-bottom: 44px;
			-webkit-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
			box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
		}
		&__image {
			width: 372px;
			height: 207px;
			margin-bottom: 27px;
			img {
				border-radius: 10px 10px 0 0;
				width: 100%;
				height: 207px;
				object-fit: cover;
			}
		}
		&__title {
			color: #333;
			font-family: Lato;
			font-size: 25px;
			// font-weight: 500;
			font-weight: 700;
			letter-spacing: 0.63px;
			text-align: center;
			margin-bottom: 27px;
		}
		&__desc {
			color: #040404;
			display: block;
			margin: 0 auto;
			max-width: 250px;
			font-family: Lato;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.4px;
			text-align: center;
		}
		&__btn {
			bottom: -24px;
			left: 117px;
		}
	}
}
.agency {
	position: relative;
	padding-bottom: 215px;
	&-items {
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: top;
	}
	&-item {
		max-width: 386px;
		&__title {
			margin-bottom: 29px;
			letter-spacing: -3.75px;
			//width: 305px;
			margin-left: 10px;
			margin-top: 5px;
			line-height: 62px;
		}
		&__intro {
			font-weight: 400;
		}
		&__descr {
			font-weight: 300;
		}
		&__quote {
			font-style: italic;
		}
		&__sign {
			font-size: 47px;
			margin-left: 57px;
			margin-top: 29px;
			letter-spacing: -3.53px;
		}
		&__btn {
			margin-top: 40px;
			margin-left: 6px;
		}
		&--quote {
			padding-top: 72px;
		}
	}
	&-letter {
		position: relative;
		height: 518px;
		width: 465px;
		&__letter {
			width: 100%;
			height: 100%;
			&-svg {
				font-family: "Belgrad";
				font-size: 400px;
			}
		}
		// &__letter {
		// ? Попробывать другой метод
		// color: transparent;
		// font-size: 550px;
		// line-height: 450px;
		// font-family: "Belgrad";
		// background-image: url(../img/agency/agency.jpg);
		// background-size: cover;
		// background-clip: text;
		// transform: translateX(20%);
		// left: -67px;
		// position: relative;
		// text-align: right;
		//--------------------
		// height: 100%;
		// width: 100%;
		// background-image: url(../img/agency/agency.png);
		// box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
		// }
	}
	&__letter {
		position: absolute;
		top: 377px;
		left: 573px;
		width: 464px;
		height: 583px;
		z-index: -5;
		// font-family: "Belgrad";
		// font-size: 600px;
		// text-transform: uppercase;
		// transition: 1s font-size;
		// &-svg {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 48px;
		// 	rect {
		// 		fill: #fff;
		// 		mask: url(#letter-mask);
		// 	}
		// }
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
		}
	}
}
