@font-face {
  font-family: "Belgrad";
  font-display: swap;
  src: url("../fonts/Belgrad.woff") format("woff"), url("../fonts/Belgrad.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Berlin Sans FB Demi";
  font-display: swap;
  src: url("../fonts/Berlin Sans FB Demi Bold.woff") format("woff"), url("../fonts/Berlin Sans FB Demi Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bernadette";
  font-display: swap;
  src: url("../fonts/bernadette.woff") format("woff"), url("../fonts/bernadette.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/Myriad Pro Black Condensed.woff") format("woff"), url("../fonts/Myriad Pro Black Condensed.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  color: #040404;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.45px;
}

.page-main {
  background-image: url(../img/main/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 0;
  padding-bottom: 247px;
}

.page-agency {
  padding-top: 394px;
}

.page-features {
  padding-bottom: 74px;
}

.page-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.page-team {
  padding-top: 100px;
  padding-bottom: 67px;
}

.page-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 128px;
}

.page-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 94px;
  padding-bottom: 105px;
}

.page-social {
  background-image: url(../img/social/social-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 80px;
  padding-bottom: 94px;
}

.page-footer {
  padding-top: 102px;
  padding-bottom: 38px;
}

.page-btn {
  color: #fff;
  display: block;
  width: 143px;
  font-family: Lato;
  font-size: 15.5px;
  font-weight: 700;
  letter-spacing: 0.39px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#de813c), to(#3f519a));
  background-image: -o-linear-gradient(bottom, #de813c, #3f519a);
  background-image: linear-gradient(to top, #de813c, #3f519a);
}

.page-title {
  color: #333332;
  font-family: "Bernadette";
  font-weight: normal;
  font-size: 50px;
  line-height: 65px;
  text-align: left;
}

.page-descr {
  color: #040404;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: 0.45px;
}

.wrap {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrap-relative {
  position: relative;
}

.wrap--price {
  max-width: 1480px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1481px;
  margin-left: 53px;
  margin-right: 65px;
  padding-top: 25px;
}

.header__logo {
  height: 56px;
  width: 161px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list__item {
  list-style-type: none;
  margin-left: 33px;
}

.menu-list__link {
  color: #fff;
  font-family: "Lato";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.38px;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  position: relative;
}

.main__header {
  margin-bottom: 135px;
}

.main-center {
  color: #fff;
}

.main-center__title {
  font-family: Bernadette;
  font-size: 111px;
  line-height: 149px;
  font-weight: 400;
  letter-spacing: -5.55px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;
}

.main-center__subtitle {
  font-family: Lato;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 0.93px;
  text-align: center;
  margin-bottom: 41px;
}

.main-center__desc {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 41px;
}

.main-center__btn {
  display: block;
  color: #020202;
  font-family: Lato;
  font-size: 15.5px;
  font-weight: 700;
  letter-spacing: 0.39px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  max-width: 143px;
  padding-top: 13px;
  padding-bottom: 14px;
  border-radius: 25px;
  margin: 0 auto;
}

.main__benefits {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-top: 88px;
}

.main-benefits__item {
  width: 372px;
  margin: 0 13.5px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 44px;
  -webkit-box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.4);
}

.main-benefits__image {
  width: 372px;
  height: 207px;
  margin-bottom: 27px;
}

.main-benefits__image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-benefits__title {
  color: #333;
  font-family: Lato;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.63px;
  text-align: center;
  margin-bottom: 27px;
}

.main-benefits__desc {
  color: #040404;
  display: block;
  margin: 0 auto;
  max-width: 250px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
}

.main-benefits__btn {
  position: absolute;
  bottom: -24px;
  left: 117px;
}

.agency {
  position: relative;
  padding-bottom: 215px;
}

.agency-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.agency-item {
  max-width: 386px;
}

.agency-item__title {
  margin-bottom: 29px;
  letter-spacing: -3.75px;
  margin-left: 10px;
  margin-top: 5px;
  line-height: 62px;
}

.agency-item__intro {
  font-weight: 400;
}

.agency-item__descr {
  font-weight: 300;
}

.agency-item__quote {
  font-style: italic;
}

.agency-item__sign {
  font-size: 47px;
  margin-left: 57px;
  margin-top: 29px;
  letter-spacing: -3.53px;
}

.agency-item__btn {
  margin-top: 40px;
  margin-left: 6px;
}

.agency-item--quote {
  position: relative;
  padding-top: 72px;
}

.agency-item--quote::before {
  content: url("../img/agency/quote.png");
  width: 83px;
  height: 88px;
  position: absolute;
  top: 31px;
  left: -102px;
}

.agency-letter {
  position: relative;
  height: 518px;
  width: 465px;
}

.agency-letter__letter {
  width: 100%;
  height: 100%;
}

.agency-letter__letter-svg {
  font-family: "Belgrad";
  font-size: 400px;
}

.agency__letter {
  position: absolute;
  top: 377px;
  left: 573px;
  width: 464px;
  height: 583px;
  z-index: -5;
}

.agency__letter-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.features-items {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px 28px;
}

.features-item {
  width: 571px;
  height: 365px;
}

.features-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features-item__img--left {
  border-radius: 10px 0 0 10px;
}

.features-item__img--right {
  border-radius: 0 10px 10px 0;
}

.features-descr {
  position: absolute;
  width: 727px;
  height: 368px;
  border-radius: 10px;
  z-index: 5;
  top: 202px;
  left: 218px;
  padding-top: 32px;
  padding-bottom: 33px;
  padding-left: 52px;
  padding-right: 25px;
  background-color: #fff;
  text-align: center;
}

.features-descr__title {
  text-align: center;
  margin-bottom: 17px;
}

.features-descr__descr {
  margin-bottom: 41px;
}

.features-descr__btn {
  margin-left: 255px;
  margin-top: 31px;
}

.services__content {
  background-color: #f4f4f4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(((100vw - 40px) * 0.3) + 20px);
          flex: 0 0 calc(((100vw - 40px) * 0.3) + 20px);
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.services__image-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -5;
}

.services-visual {
  position: absolute;
  color: #fff;
  width: 355px;
  height: 473px;
  padding: 25px 28px;
  border-radius: 10px;
  top: 90px;
  left: -154px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#de813c), to(#3f519a));
  background-image: -o-linear-gradient(top left, #de813c, #3f519a);
  background-image: linear-gradient(to bottom right, #de813c, #3f519a);
}

.services-visual__items {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -o-radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0), -o-radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0), radial-gradient(circle, rgba(255, 255, 255, 0.29) 1px, transparent 0);
  background-size: 8px 152px, 200px 8px;
  background-position: 50px 71px;
}

.services-visual__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 142px;
}

.services-visual__item--top {
  padding-top: 22px;
  padding-bottom: 18px;
}

.services-visual__item--middle {
  padding-top: 25px;
  padding-bottom: 8px;
}

.services-visual__item--bottom {
  padding-top: 30px;
  padding-bottom: 15px;
}

.services-visual__item-icon {
  margin: 0 auto;
  margin-bottom: 12px;
}

.services-visual__item-icon-obj {
  width: 100%;
  height: 100%;
}

.services-visual__item-icon--logo-branding {
  width: 40px;
  height: 46px;
}

.services-visual__item-icon--social-media {
  width: 46px;
  height: 45px;
}

.services-visual__item-icon--products {
  width: 49px;
  height: 54px;
}

.services-visual__item-icon--lorei {
  width: 36px;
  height: 35px;
}

.services-visual__item-icon--mobile-web {
  width: 36px;
  height: 42px;
}

.services-visual__item-descr {
  display: block;
  width: 105px;
  margin: 0 auto;
  font-size: 17px;
  line-height: normal;
  font-weight: 800;
  letter-spacing: 0.43px;
  text-align: center;
}

.services-text {
  width: 50%;
  padding-top: 86px;
  padding-bottom: 90px;
}

.services-text__title {
  margin-bottom: 41px;
}

.services-text__intro {
  font-weight: 400;
}

.services-text__descr {
  font-weight: 300;
  margin-bottom: 48px;
}

.team {
  position: relative;
}

.team__title {
  text-align: center;
  margin-bottom: 46px;
}

.team__descr {
  color: #313131;
  text-align: center;
  margin-bottom: 71px;
}

.team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-items__item-image {
  width: 218px;
  height: 273px;
  margin-bottom: 46px;
}

.team-items__item-image-img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-items__item-title {
  color: #333332;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.63px;
  text-align: center;
}

.team-items__item-post {
  color: #a3a3a3;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
}

.team::after {
  content: "";
  position: absolute;
  width: 1296px;
  height: 317px;
  background-color: #f4f4f4;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -10;
}

.profile-data {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.profile-data__content {
  width: 50%;
  padding-right: 54px;
}

.profile-text {
  padding-top: 47px;
  padding-bottom: 34px;
}

.profile-skils {
  padding-bottom: 34px;
}

.profile-skils-item {
  margin-bottom: 45px;
}

.profile-skils-item__title {
  color: #333332;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.63px;
  margin-bottom: 11px;
}

.profile-skils-item__diagram {
  position: relative;
}

.profile-skils-item__diagram-count {
  color: #333332;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0.63px;
  position: absolute;
  right: 47px;
  top: -16px;
}

.profile-skils-item__diagram-line--color {
  height: 14px;
  width: 400px;
  border-radius: 7px;
  background-image: -webkit-gradient(linear, left top, right top, from(#de813c), to(#3f519a));
  background-image: -o-linear-gradient(left, #de813c, #3f519a);
  background-image: linear-gradient(to right, #de813c, #3f519a);
}

.profile-skils-item__diagram-line--gray {
  height: 14px;
  width: 483px;
  border-radius: 7px;
  background-color: #e0e0e0;
}

.profile__title {
  font-size: 65px;
  margin-left: 12px;
  margin-bottom: 16px;
}

.profile__post {
  color: #505050;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.55px;
  margin-bottom: 32px;
}

.profile__descr {
  text-align: left;
  margin-bottom: 71px;
}

.profile-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(((100vw - 40px) * 0.5) + 20px);
          flex: 0 0 calc(((100vw - 40px) * 0.5) + 20px);
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.profile-visual__image-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-visual__info {
  color: #fff;
  padding: 62px 52px 65px 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#de813c), to(#3f519a));
  background-image: -o-linear-gradient(top left, #de813c, #3f519a);
  background-image: linear-gradient(to bottom right, #de813c, #3f519a);
}

.profile-visual__info-title {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.53px;
}

.profile-visual__info-desc {
  font-weight: 300;
  max-width: 350px;
}

.profile-visual__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-visual__social-item {
  list-style-type: none;
  margin-right: 20px;
}

.profile-visual__social-link {
  display: block;
  color: #272525;
  font-size: 38px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
}

.social__title {
  color: #fff;
  text-align: center;
  margin-bottom: 65px;
}

.social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.social-list__item {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  height: 82px;
  width: 82px;
}

.social-list__item-link {
  text-decoration: none;
}

.social-list__item-link-svg {
  width: 100%;
  height: 100%;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 79px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-item__icon-img {
  width: 100%;
  height: 100%;
}

.footer-item__icon--email {
  width: 54px;
  height: 42px;
}

.footer-item__icon--call {
  width: 36px;
  height: 54px;
}

.footer-item__icon--address {
  width: 52px;
  height: 54px;
}

.footer-item__text {
  margin-left: 28px;
}

.footer-item__text-title {
  color: #494949;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-item__text-link,
.footer-item__text-address {
  display: block;
  color: #494949;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.footer-by-designed {
  text-align: center;
}

.footer-by-designed-text {
  color: #2f2f2f;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.43px;
}

@media (min-width: 1210px) {
  .services__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50vw - (0.6 - 0.4) * 1170px);
            flex: 0 0 calc(50vw - (0.6 - 0.4) * 1170px);
  }

  .profile-visual {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50vw - (0.5 - 0.5) * 1170px);
            flex: 0 0 calc(50vw - (0.5 - 0.5) * 1170px);
  }
}

.webp .page-main { background-image: url(../img/main/main-bg.webp); }

.webp .page-social { background-image: url(../img/social/social-bg.webp); }